[Unit]
Description=Movies API Service
After=network.target redis-server.service

[Service]
User=igor  # Замените на ваше имя пользователя
Group=igor # Обычно совпадает с User
WorkingDirectory=/home/igor/movies-api

# Путь к Poetry и Python (если Poetry установлен глобально) # Замените на ваше имя пользователя
Environment="PATH=/home/igor/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Если используете виртуальное окружение Poetry: # Замените на ваше имя пользователя
ExecStart=/home/igor/.local/bin/poetry run uvicorn app.main:app --host 0.0.0.0 --port 38888

# Если используете venv напрямую (без Poetry):
# ExecStart=/home/igor/movies-api/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 38888

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target